@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Hide the default scrollbar for webkit-based browsers */
::-webkit-scrollbar {
  width: 3px; /* Set the width of the custom scrollbar */
  height: 3px;
}



/* Handle (thumb) of the scrollbar */
::-webkit-scrollbar-thumb {
  background: #c4b4b4; /* Set the color of the handle */
  border-radius: 2px; /* Set the border radius of the handle */
}

/* On hover, make the scrollbar handle a bit darker */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
